@layer base {

    @font-face {
        font-family: 'Pally-Bold';
        src:
            url('../public/font/Pally-Bold.woff2') format('woff2'),
            url('../public/font/Pally-Bold.woff') format('woff'),
            url('../public/font/Pally-Bold.ttf') format('truetype');
        font-weight: 700;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Pally-Regular';
        src: 
            url('../public/font/Pally-Regular.woff2') format('woff2'),
            url('../public/font/Pally-Regular.woff') format('woff'),
            url('../public/font/Pally-Regular.ttf') format('truetype');
        font-weight: 400;
        font-display: swap;
        font-style: normal;
    }

    @font-face {
        font-family: 'Pally-Medium';
        src: 
            url('../public/font/Pally-Medium.woff2') format('woff2'),
            url('../public/font/Pally-Medium.woff') format('woff'),
            url('../public/font/Pally-Medium.ttf') format('truetype');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }
}


